.navList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.header{
  width:100%;
}

.toolbar{
  background-color:  #141110;
  width:100%;

}

h1{
  color:white;
  margin-left: 5px;
}

li {
  float: left;


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;


  text-decoration: underline;
}

li a:hover {
  background-color: #111111;
}

