<header>
    <mat-toolbar class="toolbar" color="primary">
        <h1>My ToDo's</h1>

        <nav>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        <ul class="navList">
            <li *ngIf="!userAuthenticated"><a routerLink="login">Login</a></li>
            <li *ngIf="!userAuthenticated"><a routerLink="register">Register</a></li>
            <li *ngIf="userAuthenticated"><button type="submit" (click)="logout()">Logout</button></li>
          </ul>
        </div>
      </nav>
    </mat-toolbar>
</header>
