<div  fxLayout="column"  fxLayoutAlign="center center">
    
    <h2 class="subheading">To do List</h2>
        <div *ngIf="!isAuthenticated">
            <h3>Please sign in to start creating To Do list items!</h3>
        </div>
        <div *ngIf="isAuthenticated">
            <h3>Hey {{loggedInUser}} what do you need to do?</h3>
        </div>
        <div *ngIf="isAuthenticated" class="listContainer">
            <mat-list>
                <mat-list-item *ngFor="let task of myList; let i = index" >
                    {{task.taskName}}
                    <button mat-icon-button>
                        <mat-icon>chat</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete(task.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
             
            </mat-list>
        </div>
       

        <app-todoform></app-todoform>
 
    
</div>
