<form [formGroup]="toDoForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>What do you need to do?</mat-label>
            <input matInput placeholder="Add something to the list" formControlName="taskName">
            
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <button [disabled]="!toDoForm.valid" mat-fab aria-label="Plus sign on button">
            <mat-icon>add</mat-icon>
          </button>
    </div>
</form>