.subheading{
  font-size: 3rem;
  text-decoration: underline;
}

.tableContent{
  color:#fff;
  background-color: #3a3331;
  border: 1px solid #141110;
  width:70%;
  margin: 0 auto;
  text-align: center;
}

th{
  background-color: #141110;
  color:white;
}


